################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AiPlatformSolution/AiPlatform/local.settings.json
