################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AiPlatformSolution/AiPlatform/local.settings.json
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/bin/Debug/net8.0
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/Debug/net8.0
/DynamicAiSearchCreationSolution/.vs/DynamicAiSearchCreationSolution/DesignTimeBuild/.dtbcache.v2
/DynamicAiSearchCreationSolution/.vs/DynamicAiSearchCreationSolution/FileContentIndex/1a395d92-78b5-4830-a319-9eb1a3ea6fcf.vsidx
/DynamicAiSearchCreationSolution/.vs/DynamicAiSearchCreationSolution/v17/.futdcache.v2
/DynamicAiSearchCreationSolution/.vs/DynamicAiSearchCreationSolution/v17/.suo
/DynamicAiSearchCreationSolution/.vs/DynamicAiSearchCreationSolution/v17/DocumentLayout.json
/DynamicAiSearchCreationSolution/.vs/ProjectEvaluation/dynamicaisearchcreationsolution.metadata.v8.bin
/DynamicAiSearchCreationSolution/.vs/ProjectEvaluation/dynamicaisearchcreationsolution.projects.v8.bin
/DynamicAiSearchCreationSolution/.vs/ProjectEvaluation/dynamicaisearchcreationsolution.strings.v8.bin
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/DynamicAiSearchCreation.csproj.nuget.dgspec.json
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/DynamicAiSearchCreation.csproj.nuget.g.props
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/DynamicAiSearchCreation.csproj.nuget.g.targets
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/project.assets.json
/DynamicAiSearchCreationSolution/DynamicAiSearchCreation/obj/project.nuget.cache
